# Importing Numpy

In [33]:
import numpy as np
import pandas as pd

# loading dataset

In [35]:
cricket_df = pd.read_csv("Indian_Cricket_Team_Dataset.csv")

In [36]:
cricket_df

     Player Name  Age  Matches Played  Batting Average  Strike Rate
0       Player_1   26             456            27.70       188.21
1       Player_2   23             154            24.61       139.34
2       Player_3   32             210            36.87       182.79
3       Player_4   34             426            51.81       178.77
4       Player_5   30             221            49.80       162.44
..           ...  ...             ...              ...          ...
995   Player_996   24             279            23.46       187.80
996   Player_997   28             344            29.47       160.55
997   Player_998   23             126            49.30       124.71
998   Player_999   35              16            41.93       135.59
999  Player_1000   30             146            25.12       108.39

[1000 rows x 5 columns]

# Query 1: Convert 'Age' column to a NumPy array.

In [38]:
ages_array = np.array(cricket_df['Age'])
print(type(ages_array))

<class 'numpy.ndarray'>

# Query 2: Find the average age of players.

In [40]:
average_age = np.mean(ages_array)
print(average_age)

27.57

# Query 3: Find the oldest and youngest player age.

In [42]:
oldest_age = np.max(ages_array)
youngest_age = np.min(ages_array)

print(oldest_age)
print(youngest_age)

35
20

# Query 4: Count the total number of players above 30 years old.

In [44]:
count_above_30 = np.sum(ages_array > 30)
print(count_above_30)

336

# Query 5: Find the median batting average.

In [46]:
batting_avg_array = np.array(cricket_df['Batting Average'])
median_batting_avg = np.median(batting_avg_array)

print(median_batting_avg)

40.135

# Query 6: Find the standard deviation of strike rates.

In [48]:
strike_rate_array = np.array(cricket_df['Strike Rate'])
std_dev_strike_rate = np.std(strike_rate_array)

print(std_dev_strike_rate)

29.10819410384471

# Query 7: Find the 90th percentile of batting average.

percentile_90 = np.percentile(batting_avg_array, 90)

print(percentile_90)

# Query 8: Find the number of players with strike rate above 150.

In [61]:
count_high_strike = np.sum(cricket_df['Strike Rate'] > 150)

print(count_high_strike)

513

# Query 9: Reshape the first 20 batting averages into a 4x5 matrix.

In [63]:
reshaped_avg = batting_avg_array[:20].reshape(4,5)
print(reshaped_avg)

[[27.7  24.61 36.87 51.81 49.8 ]
 [22.2  38.21 40.9  45.78 46.01]
 [34.59 42.43 39.24 55.4  41.21]
 [37.64 36.18 42.9  52.16 41.54]]

# Query 10: Compute row-wise sum of reshaped matrix.

In [65]:
row_wise_sum = np.sum(reshaped_avg, axis=1)
print(row_wise_sum)

[190.79 193.1  212.87 210.42]

# Query 11: Compute column-wise mean of reshaped matrix.

In [67]:
col_wise_mean = np.mean(reshaped_avg, axis=0)
print(col_wise_mean)

[30.5325 35.3575 39.9775 51.2875 44.64  ]

# Query 12: Transpose the reshaped matrix.

In [69]:
transposed_avg = reshaped_avg.T
print(transposed_avg)

[[27.7  22.2  34.59 37.64]
 [24.61 38.21 42.43 36.18]
 [36.87 40.9  39.24 42.9 ]
 [51.81 45.78 55.4  52.16]
 [49.8  46.01 41.21 41.54]]

# Query 13: Find the variance of batting average.

In [71]:
variance_batting_avg = np.var(batting_avg_array)

print(variance_batting_avg)

131.5398293159

# Query 14: Stack age and matches played horizontally.

In [73]:
matches_array = np.
stacked_array = np.hstack((ages_array.reshape(-1,1), matches_array.reshape(-1,1)))

print(stacked_array)

NameError: name 'matches_array' is not defined

# Query 15: Split the batting average array into 100 equal parts.

In [ ]:
split_avg = np.array_split(batting_avg_array, 100)
print(split_avg)